html {
  scrollbar-width: none;
}

body {
  background: #F2E8CF;
  margin: 0;
  color: #386641;
  font-family: monospace;
  font-size: larger;
}

form {
  margin: 0;
  padding: 0;
}

.navbar {
  background: #BC4749;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6em 0;
  
  color: #C7E6B3;
}

.navbar > .titulo {
  margin: 0.5em;
  font-size: xx-large;
  font-style: italic;
  flex-basis: 65%;
}

.navbar > .search-box {
  flex-basis: 35%;
  margin: 0.5em;
  color: #692627;
  display: flex;
  gap: 2px;
  height: 3em;
}

.search-box > .textbar {
  background: #E9C3C4;
  color: inherit;
  flex-basis: 70%;
}

input[type='text'] {
  padding: 0.3em;
  border-width: 3px;
  border-style: double;
}

.search-box > .button {
  flex-basis: 30%;
}

.search-box > .textbar:focus {
  transition: 0.4s;
  border-color: red;
}

input {
  background: None;
  border: None;
  color: inherit;
}

.logo {
  box-shadow: 0px 0px 2px 2px #386641;
  transition: 0.2s;
}

.logo:hover {
  scale: 150%;
  transition: 0.2s;
}

.main-frame {
  position: relative;
  top: 4em;
  padding: 1em;
  margin: 1em;
}

.main-header {
  display: flex;
  align-items: center;
}

.main-header-logo {
  margin-right: 2em;
  height: 8em;
  width: 8em;
  box-shadow: 0px 0px 5px 4px gray;
}

.main-header-subtitle {
  font-style: italic;
  font-size: x-large;
}

.main-header-title {
  font-size: xxx-large;
  margin: 0 0 0.5em 1em;
  font-weight: bold;
}

.pagination-bar {
  display: flex;
  flex-flow: row;
  list-style: none;
  justify-content: center;
}

.pagination-bar > .pagination-item {
  border-width: 2px;
  border-color: #386641;
  border-style: solid none solid solid;
  background: #A7C957;
  padding: 0.5em;
  margin: 0;
}

.pagination-bar > .pagination-item.active {
  background: #6A994E; 
  color: #A7C957;
}

.pagination-bar > .pagination-item:hover {
  background: #89B153; 
  color: #A7C957;
}

.pagination-bar > .pagination-item:first-child {
  border-radius: 4px 0 0 4px;
  border-style: solid none solid solid;
}

.pagination-bar > .pagination-item:nth-child(1):nth-last-child(1) {
  border-radius: 4px;
}

.pagination-bar > .pagination-item:last-child {
  border-radius: 0 4px 4px 0;
  border-style: solid solid solid solid;
}

.item-list {
  padding: 0;
  margin: 1em 0 1em 0;
}

.item-list-header {
  background: #87A937;
  font-weight: bold;
  font-style: italic;
}

.item-entry {
  background: #A7C957;
  border-width: 2px;
  border-color: #386641;
  border-style: solid solid none solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px double black;
  width: 100%;
  height: 100%;
}

.search-box > .button {
  background: #E9C3C4;
  color: #692627;
}

.search-box > .button:hover {
  background: #D38587;
}

.search-box > .button:active {
  background: #C86668;
}

.button-body {
  background: #6A994E; 
  color: #A7C957;
  width: 100%;
  height: 100%;
}

.button-body:hover {
  background: #5D8745;
  font-style: italic;
  font-weight: bold;
}

.button-body:active {
  background: #4B6C37;
}

.button:active {
  font-style: italic;
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

.item-entry:first-child {
  border-radius: 4px 4px 0 0;
}

.item-entry:nth-child(1):nth-last-child(1) {
  border-radius: 4px;
}

.item-entry:last-child {
  border-radius: 0 0 4px 4px;
  border-style: solid solid solid solid;
}

.episode-entry > .col-name {
  flex-basis: 65%;
}

.episode-entry > .col-date {
  flex-basis: 10%;
}

.date_alt {
  visibility: hidden;
  position: absolute;
}

.episode-entry > .col-duration {
  flex-basis: 10%;
}

.episode-entry > .col-buttons {
  flex-basis: 15%;
}

.col-buttons {
  margin: 0 0.1em 0 0.1em;
}

/* podcast stuff */
.podcast-entry > .col-img {
  flex-basis: 10%;
}

.podcast-entry > .col-name {
  flex-basis: 45%;
}

.podcast-entry > .col-num {
  flex-basis: 10%;
}

.podcast-entry > .col-prod {
  flex-basis: 20%;
}

.podcast-entry > .col-buttons {
  flex-basis: 15%;
  height: 4em;
}

/* info stuff */
.item-entry > .label {
  flex-basis: 20%;
  font-weight: bold;
}

.item-entry > .value {
  flex-basis: 80%;
}

.col-buttons > .button{
  height: 3em;
}

input[type='text'].value {
  background: #C7E6B3;
}

input[type='text'].value:focus {
  transition: 0.4s;
  border-color: red;
}

