<html>
  <head>
    <title>iVoox Explorer</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
   <div class="navbar">
      <p class="titulo" >iVoox explorer</p>

      <form class="search-box" method="get">
        <input class="textbar" type="text" name="name"></input>
        <input type="hidden" name="id" value="{{ sesion.id }}"></input>
        <input class="button" type="submit" value="Search"></input>
      </form>
    </div>
    
    <div class="main-frame">
      
      <div class="main-header">
        <div>
          <p class="main-header-subtitle">Reproducir audio</p>
      
          <p class="main-header-title"> // nombre audio // </p>
        </div>
      </div>  
      
      <ul class="item-list">
        <li class="item-entry">
          <div class="label" >Nombre:</div>
          <div class="value">{{ sesion.current_episode.name }}</div>
        </li>  
        <li class="item-entry">
          <div class="label" >Duración:</div>
          <div class="value">{{ sesion.current_episode.duration }}</div>
        </li>  
        <li class="item-entry">        
          <div class="label" >URL Episodio:</div>
          <a class="value" href="{{ sesion.current_episode.url }}">{{ sesion.current_episode.url }}</a>
        </li>
        
        <li class="item-entry">        
          <div class="label" >URL Audio:</div>
          <div class="value">{{ sesion.current_episode.audio_link }}</div>
        </li>
      </ul>

      <form method="get" action="/mpd_play">
        <ul class="item-list">
        
          <li class="item-entry podcast-entry item-list-header">
            <div class="label">MPD Host:</div><input class="value" type="text" name="mpd_host" id="mpd_host" value="{{ mpd_config.mpd_host }}">
          </li>
        
          <li class="item-entry podcast-entry item-list-header">
            <div class="label">Proxy IP:</div><input class="value" type="text" name="proxy_ip" id="proxy_ip" value="{{ mpd_config.proxy_ip }}">
          </li>      
          
          <li class="item-entry podcast-entry item-list-header">
            <div class="label">
              Clear playlist
            </div>
            <div class="text">
              <input name="clear" type="checkbox">
            </div>
          </li>
          
          <li class="item-entry podcast-entry item-list-header">
            <div class="label">
              Play inmediatly
            </div>
            <div class="text">
              <input name="play" type="checkbox">
            </div>
          </li>
      
          <li class="item-entry podcast-entry item-list-header">
            <input type="hidden" name="id" value="{{ sesion.id }}"></input>
            <input class="button button-body" type="submit" value="Play">
          </li>
        </ul>
      </form>
      
      <form method="get" action="/serve_episode">
        <ul class="item-list">
          <li class="item-entry podcast-entry item-list-header">
            <input type="hidden" name="id" value="{{ sesion.id }}"></input>
            <input class="button button-body" type="submit" value="Local play">
          </li>
        </ul>
      </form>
    </div>
  </body>
</html>
