<html>
  <head>
    <title>iVoox Explorer</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <div class="navbar">
      <p class="titulo">iVoox explorer</p>

      <form class="search-box" method="get">
        <input class="textbar" type="text" name="name"></input>
        <input type="hidden" name="id" value="{{ sesion.id }}"></input>
        <input class="button" type="submit" value="Search"></input>
      </form>
    </div>

    <div class="main-frame">
      
      <div class="main-header">
        <div>
          <p class="main-header-subtitle">Busqueda de episodios</p>
      
          <p class="main-header-title">{{ sesion.search_name }}</p>
        </div>
      </div>
      
      <ul class="item-list podcasts-list">
        <li class="item-entry podcast-entry item-list-header">
          <div class="col-img"></div>
          <div class="col-name"><p class="name" >Nombre programa</p></div>
          <div class="col-num"><p class="num" >#progs</p></div>
          <div class="col-prod"><p class="productor">Productor</p></div>
          <div class="col-buttons"></div>
        </li>

        {% for n,i in programs_indexed %}
        <li class="item-entry podcast-entry">
          <div class="col-img"><img class="logo" src="{{ n.img_url }}"></div>
          <div class="col-name"><p class="name" >{{ n.name }}</p></div>
          <div class="col-num"><p class="num" >{{ n.num_progs }}</p></div>
          <div class="col-prod"><p class="productor" >{{ n.producer }}</p></div>
          <form class="col-buttons" action="/search_episodes" method="get">
            <input class="button button-body" type="submit" value="Ir"></input>
            <input type="hidden" name="id" value="{{ sesion.id }}"></input>
            <input type="hidden" name="pindex" value="{{ i }}"></input>
          </form>
        </li>
        {% endfor %}
        
      </ul>
      
      <form class="pagination-bar" method="get">
        <input class="pagination-item" type="submit" name="pag" value="<"></input>
        <input class="pagination-item active" type="submit" name="pag" value="1">
        <input class="pagination-item" type="submit" name="pag" value="2"></input>
        <input type="hidden" name="id" value="{{ sesion.id }}"></input>
        <input class="pagination-item" type="submit" name="pag" value=">"></input>
      </form>
    
    </div>
  </body>
</html>
