<html>
  <head>
    <title>iVoox Explorer</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <div class="navbar">
      <p class="titulo" >iVoox explorer</p>

      <form class="search-box" method="get" action="/search_program">
        <input class="textbar" type="text" name="name"></input>
        <input type="hidden" name="id" value="{{ sesion.id }}"></input>
        <input class="button" type="submit" value="Search"></input>
      </form>
    </div>

    <div class="main-frame">
      
      <div class="main-header">
        <img class="main-header-logo" src="{{ sesion.current_podcast.img_url }}">
        
        <div>
          <p class="main-header-subtitle">Busqueda de episodios</p>
      
          <p class="main-header-title">{{ sesion.search_name }}</p>
        </div>
      </div>
    
      <ul class="item-list episodes-list">
        <li class="item-entry episode-entry item-list-header">
          <div class="col-name"><p class="name">Nombre programa</div>
          <div class="col-duration"><p class="duration" >Duración</p></div>
          <div class="col-date"><p class="date" >Fecha</p></div>
          <div class="col-buttons"></div>
        </li>

        {% for n,i in episodes_indexed %}
        <li class="item-entry episode-entry">
          <div class="col-name"><p class="name">{{ n.name }}</p></div>
          <div class="col-duration"><p class="duration">{{ n.duration }}</p></div>
          <div class="col-date"><p class="date">{{ n.date }}</p><p class="date_alt">{{ n.date_alt }}</p></div>
          <form class="col-buttons" action="/play_episode" method="get">
              <input class="button button-body" type="submit" value="Reproducir"></input>
              <input type="hidden" name="id" value="{{ sesion.id }}"></input>
              <input type="hidden" name="eindex" value="{{ i }}"></input>
          </form>
        </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
